<h1 class="title">Parties d'une lesson</h1>
<ul id="part-list">
{% for part in parts %}
    <li>
        <a href="{{ path('api_1_get_lesson_part', {'id': part.lesson.id, 'partId': part.id}) }}">{{ part.title }}</a>
        {#[<a href="{{ path('api_1_edit_parts', {'id': part.id}) }}">{{ 'part.edit.link'|trans({}, 'n1c0LessonBundle') }}</a>]#}
        {#[<a href="{{ path('api_1_remove_parts', {'id': part.id}) }}">{{ 'part.remove.link'|trans({}, 'n1c0LessonBundle') }}</a>]#}
    </li>
    <li>{{ 'part.list.empty'|trans({}, 'n1c0LessonBundle') }}</li>
{% endfor %}
</ul>
